<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<table border="1" align="center" width="70%">

    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>

    </tr>
    <tr th:each = "customer : ${customerPage}">
        <td th:text = "${customer.name}"> </td>
        <td th:text = "${customer.email}"> </td>
        <td th:text = "${customer.phone}"> </td>
        <td th:text = "${customer.address}"> </td>
    </tr>
</table>
<a href="/customer/insert">Insert</a>
</body>
</html>